* {
    margin: 0;
}

header {
    background-color: darkorange;
    padding: 30px;
}

header > h1 {
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: black;

}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding:10px;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    padding:10px;

}

.board_content {
    background-color: bisque;
    radius: 10px;
    height: 150px;
}

.board_content > h3, .notice > h3 {
    text-align: center;
    border-bottom : solid 1px brown;
    padding: 5px;

}

/*제목 아래 선이 상자 끝까지 넣으려면 보드_컨텐츠 패딩을 따로 빼서 넣으면 됨*/

.board_content > p, .notice_content > p {
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .board {
        grid-template-columns: 1fr;
    }
    
}
.notice {
    border: 1px solid black;
    height:150px;
}



